{% include 'header.html' %}
        <main class="flex-shrink-0">
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">

                                <!-- Project Card 1: Cosmos Blog -->
                                <div class="card overflow-hidden shadow rounded-4 border-0 mb-4">
                                    <div class="card-body p-0">
                                        <div class="row align-items-center">
                                            <div class="col-md-7 p-4">
                                                <h2 class="fw-bolder">Cosmos Blog</h2>
                                                <p>A dynamic and engaging blog platform where I share insights on tech, basketball, personal growth, and business. Cosmos Blog is built using Flask, allowing for seamless content management and an interactive user experience.</p>
                                                <a class="btn btn-primary btn-sm" href="https://cosmos-flask-blog-2.onrender.com/" target="_blank">Check it out</a>
                                            </div>
                                            <div class="col-md-5 text-center">
                                                <img class="img-fluid rounded" src="static/images/blog_pic.png" alt="Cosmos Blog Screenshot">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <!-- Project Card 2: British Airways WebScraper -->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-4">
                                <div class="card-body p-0">
                                    <div class="row align-items-center">
                                        <div class="col-md-7 p-4">
                                            <h2 class="fw-bolder">British Airways WebScraper Project</h2>
                                            <p>This project collects and analyzes customer reviews of British Airways in real-time from the AirlineQuality website. The analysis includes sentiment analysis, visualization of review distributions, and an overall recommendation rate. Results are presented in Word Clouds, bar charts, pie charts, and summarized in a PowerPoint presentation.</p>
                                            <a class="btn btn-primary btn-sm" href="https://github.com/BTAG16/British-Airline-WebScraper-Project" target="_blank">Check it out</a>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="British Airways WebScraper" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Project Card 3: Cryptocurrency Price Tracker -->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-4">
                                <div class="card-body p-0">
                                    <div class="row align-items-center">
                                        <div class="col-md-7 p-4">
                                            <h2 class="fw-bolder">Cryptocurrency Price Tracker</h2>
                                            <p>This Python script fetches real-time cryptocurrency price data using the CoinMarketCap API. It saves the data to a CSV file with details like timestamp, price, 24-hour volume, and market cap. The script can append new data to an existing CSV file for further analysis.</p>
                                            <a class="btn btn-primary btn-sm" href="https://github.com/BTAG16/CryptoFetch-Project" target="_blank">Check it out</a>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="Cryptocurrency Price Tracker" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Project Card 4: Linkedin Job Saver Bot -->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-4">
                                <div class="card-body p-0">
                                    <div class="row align-items-center">
                                        <div class="col-md-7 p-4">
                                            <h2 class="fw-bolder">Linkedin Job Saver Bot</h2>
                                            <p>A Python-based automation tool using Selenium that helps users save job listings from LinkedIn. The bot automatically logs in, searches for job postings, and saves them by clicking on them.</p>
                                            <a class="btn btn-primary btn-sm" href="https://github.com/BTAG16/Linkedln-Job-Saver-Bot" target="_blank">Check it out</a>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="Linkedin Job Saver Bot" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Project Card 5: Contact Manager -->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-4">
                                <div class="card-body p-0">
                                    <div class="row align-items-center">
                                        <div class="col-md-7 p-4">
                                            <h2 class="fw-bolder">Contact Manager</h2>
                                            <p>A Contact Manager web application built with WebSharper and F#. Users can input, view, edit, and delete their contact information.</p>
                                            <a class="btn btn-primary btn-sm" href="https://btag16.github.io/Contact-Manager/" target="_blank">Check it out</a>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <img class="img-fluid" src="static/images/c_manager.png" alt="Contact Manager" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Project Card 6: Top Movies (Made with Flask) -->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-4">
                                <div class="card-body p-0">
                                    <div class="row align-items-center">
                                        <div class="col-md-7 p-4">
                                            <h2 class="fw-bolder">Top Movies</h2>
                                            <p>This is a Flask-based web app that allows users to search, view, and add movie ratings and reviews. The app uses an external API to fetch movie details and stores user input in a local SQLite database.</p>
                                            <a class="btn btn-primary btn-sm" href="https://github.com/BTAG16/Top-Movies-MadewithFlask" target="_blank">Check it out</a>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="Top Movies Flask App" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Project Card 7: TicTacToe -->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-4">
                                <div class="card-body p-0">
                                    <div class="row align-items-center">
                                        <div class="col-md-7 p-4">
                                            <h2 class="fw-bolder">TicTacToe Game</h2>
                                            <p>A simple console-based TicTacToe game written in Python. The game allows two players to play against each other by entering their moves, checking for wins, and handling a draw scenario.</p>
                                            <a class="btn btn-primary btn-sm" href="https://github.com/BTAG16/TicTacToe" target="_blank">Check it out</a>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="TicTacToe Game" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Project Card 8: Kanye Quotes Generator -->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-4">
                                <div class="card-body p-0">
                                    <div class="row align-items-center">
                                        <div class="col-md-7 p-4">
                                            <h2 class="fw-bolder">Kanye Quotes Generator</h2>
                                            <p>This project uses the Kanye West Quotes API to generate random Kanye quotes. A simple GUI built with Tkinter displays these quotes, allowing users to click a button to get a new quote.</p>
                                            <a class="btn btn-primary btn-sm" href="https://github.com/BTAG16/Kanye-Quotes-Generator" target="_blank">Check it out</a>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="Kanye Quotes Generator" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{{ url_for('contact') }}">Contact me</a>
                    </div>
                </div>
            </section>
        </main>
{% include 'footer.html' %}