{% include 'header.html' %}
        <main class="flex-shrink-0">
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                                <a class="btn btn-primary px-4 py-3" href="{{ url_for('download_file', filename='my_cv.pdf') }}" target="_blank">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Download Resume
                                </a>
                            </div>

                            <!-- Experience Card 1: Data Processing -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">May 2021 - August 2021</div>
                                                <div class="small fw-bolder">Data Processing</div>
                                                <div class="small text-muted">Petroleum Training Institute</div>
                                                <div class="small text-muted">Nigeria (Physical Training)</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>Completed an in-person Data Processing course covering computer appreciation, Windows OS, Microsoft Office Suite (Word, Excel, PowerPoint, Access), computer repairs, and graphics design (CorelDRAW).</div>
                                            <a class="btn btn-primary btn-sm" href="{{ url_for('download_file', filename='comp_cert.pdf') }}" target="_blank">Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Experience Card 2: Python Bootcamp -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2"> September 4, 2023 - December 13, 2023</div>
                                                <div class="small fw-bolder">Python Bootcamp</div>
                                                <div class="small text-muted">Udemy - 100 Days of Code</div>
                                                <div class="small text-muted">Online</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>Completed an intensive Python Bootcamp covering automation, web development, data analysis, and machine learning. Built multiple projects, including web apps and scripts.</div>
                                            <a class="btn btn-primary btn-sm" href="{{ url_for('download_file', filename='py_cert.pdf') }}" target="_blank">Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Experience Card 3: AWS Cloud Computing -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">Ongoing</div>
                                                <div class="small fw-bolder">AWS Cloud Computing</div>
                                                <div class="small text-muted">AWS Certified Cloud Practitioner</div>
                                                <div class="small text-muted">Online</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>Currently studying AWS Cloud Computing fundamentals, including cloud architecture, security, and services like EC2, S3, and IAM. Preparing for AWS Certified Cloud Practitioner certification.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                            <!-- Education Card 1: Lumen Christi International High School -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">September 2014 - November 2020</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Lumen Christi International High School</div>
                                                    <div class="small text-muted">Nigeria</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">High School Diploma {Distinction} </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>Graduated with distinction from Lumen Christi International High School, where I excelled academically, achieving 5 As and 4 Bs in the WAEC exams. Developed strong leadership and teamwork skills through extracurricular activities.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Education Card 2: University of Dunaújváros -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">September 2022 - Present</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">University of Dunaújváros</div>
                                                    <div class="small text-muted">Dunaújváros, Hungary</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Undergraduate</div>
                                                    <div class="small text-muted">Computer Science Engineering</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>Currently pursuing a Bachelor's degree in Computer Science Engineering, with a focus on software development, algorithms, and cloud computing. Actively participating in various academic projects and extracurricular activities.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Divider-->
                        <div class="pb-5"></div>
                        <!-- Skills Section-->
                        <section>
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <!-- Professional skills list -->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python Programming</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Development (Flask, HTML, CSS, JavaScript)</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Cloud Computing (AWS)</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Data Analysis (Excel, SQL)</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Computer Repairs & Maintenance</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Graphics Design (CorelDRAW & Canva)</div></div>
                                        </div>
                                    </div>

                                   <!-- Languages list -->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
{% include 'footer.html' %}